body {
	background: rgb(0,0,0);
	background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(255,184,28,1) 100%);
	background-repeat: no-repeat;
	background-size: 2000px 1000px;
	margin: 0px;
}
* {
	color: white;
}


#header {
	background-color: dimgrey;
	height: 100px;
	margin: 0px;
}
#cabecalho{
	height: 100px;
	margin-top: 0px;
	margin-left: 50px;
	padding: 5px;
	float: left;
}
#links a {
  float: left;
  display: block;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  margin:0px;
}
#links #link1{
	margin-left: 500px;
}
#autenticacao a {
  float: right;
  display: block;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  margin:0px;
}
#header a:hover {
  background-color: #ddd;
  color: black;
  margin:0px;
}


#corpo{
	clear:all;
	border-style: solid;
	border-width: 10px;
	border-color: red;
}
#corpo p{
	width: 800px;
	height: 200px;
	margin-left: 200px;
	font-size: 1.5em;
}
#corpo img{
	float: right;
	margin-top: -150px;
	margin-right: 15px;
}
.separador{
	border: 0;
	height: 55px;
	background-image: url(image/type_6.png);
	background-repeat:no-repeat;
}


#footer{
	border-style: solid;
	border-color: white;
	border-width: 10px;
	margin-top: 150px;
	background-color: dimgrey;
	clear: all;
}
#footer *{
	margin-left: 10px;
	margin-right: 5px;
	font-size: 1.2em
}
